################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.Domain/obj/Debug
/First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.App/obj/Debug
/.vs/
First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.App/obj
Second-meetup/Code-samples/after/PeopleSoftBank/.vs
Second-meetup/Code-samples/after/PeopleSoftBank/packages
Second-meetup/Code-samples/before/PeopleSoftBank/packages
