################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.Domain/obj/Debug
/First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.App/obj/Debug
/.vs/
First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.App/obj
Second-meetup/Code-samples/after/PeopleSoftBank/.vs
Second-meetup/Code-samples/after/PeopleSoftBank/packages
Second-meetup/Code-samples/before/PeopleSoftBank/packages
/Second-meetup/Code-samples/after/PeopleSoftBank/AccountBuddy.App/bin/Debug
/Second-meetup/Code-samples/after/PeopleSoftBank/AccountBuddy.App/obj/Debug
/Second-meetup/Code-samples/before/PeopleSoftBank/.vs/PeopleSoftBank/v15
/Second-meetup/Code-samples/before/PeopleSoftBank/AccountBuddy.App/bin/Debug
/Second-meetup/Code-samples/before/PeopleSoftBank/AccountBuddy.App/obj/Debug
/Second-meetup/Code-samples/before/PeopleSoftBank/PeopleSoftBank.v3.ncrunchsolution.user
/Second-meetup/Code-samples/before/PeopleSoftBank/.vs/PeopleSoftBank/v16
/Fourth-meetup/Meetup/.vs/PuneCrafters/v15
/Fourth-meetup/Meetup/PuneCrafters.Business/obj
/Fourth-meetup/Meetup/PuneCrafters.Domain/obj
/Fourth-meetup/Meetup/.vs/config
/Fourth-meetup/Meetup/packages
/Fourth-meetup/Meetup/PuneCrafters.Business/bin/Debug/netstandard2.0
/Fourth-meetup/Meetup/PuneCrafters.Domain/bin/Debug/netstandard2.0
/Fourth-meetup/Meetup/PuneCrafters.Presentation.Web/bin
/Fourth-meetup/Meetup/PuneCrafters.Presentation.Web/obj/
/First-meetup/Code-samples/PeopleSoftBank/AccountBuddy.Domain/obj/Release
/Second-meetup/Code-samples/before/PeopleSoftBank/AccountBuddy.App/obj/Release
/Second-meetup/Code-samples/after/PeopleSoftBank/AccountBuddy.Domain/obj/Release
/Second-meetup/Code-samples/after/PeopleSoftBank/AccountBuddy.Domain/obj/Debug
/Fourth-meetup/Meetup/.vs/PuneCrafters
/Second-meetup/Code-samples/after/PeopleSoftBank/AccountBuddy.App/obj/Release
Fourth-meetup/Meetup/Database/obj
Fourth-meetup/Meetup/Services/obj
