@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pune Software Craftsmanship</h1>
    <p class="lead">The software craftsmanship movement was started by developers for developers with an emphasis on best practices and technical excellence. We are inspired by the software craftsmanship manifesto (http://manifesto.softwarecraftsmanship.org/).</p>
    <p><a href="https://www.meetup.com/pune-software-craftsmanship-community/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kickoff - meet, discuss, and learn together</h2>
        <p>
            We would like this to be interactive, get to know each other, and gather ideas and inspiration as well. Note that this is a non-profit initiative by software professionals for software professionals.
        </p>
        <p><a class="btn btn-default" href="https://www.meetup.com/pune-software-craftsmanship-community/events/258365586/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Growing as a software craftsperson (part 1)</h2>
        <p>
            We had a solid start. We have looked at the retrospective learnings. We are ready with a better meetup!

            It is time to gather again to learn and share so that we grow as software craftspersons.
        </p>
        <p><a class="btn btn-default" href="https://www.meetup.com/pune-software-craftsmanship-community/events/260255336/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Growing as a software craftsperson (part 2)</h2>
        <p>
            Details
            Greetings, fellow software craftspersons!

            Let us gather once again to continue learning and growing as software craftspersons.

            We will continue with the 'growing as a software craftsperson' topic. Missed last session? No problem, we will do a quick recap of our last session before proceeding further.
        </p>
        <p><a class="btn btn-default" href="https://www.meetup.com/pune-software-craftsmanship-community/events/261585903/">Learn more &raquo;</a></p>
    </div>
</div>